@font-face {
    font-family: 'montserrat';
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat';
    background-image: url(../assets/imgs/mapa.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

body h1 {
    margin: auto;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(236, 60, 60);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    position: fixed;
    bottom: 60px;
}

a {
    position: fixed;
    top: 40px;
    left: 40px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.466));
}

#logo {
    width: 20%;
    transition-duration: 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

#perigo {
    position: absolute;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.445));
    width: 60px;
    transition-duration: 0.3s;
}

#perigo:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    body {
        height: 100vh;
        background-image: url(../assets/imgs/mapaVertical.svg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
    }

    body h1 {
        font-size: 1.4em;
        padding: 10px;
        text-align: center;
        width: 80vw;
    }

    a {
        width: 70vw;
        left: 16%;
    }

    #logo {
        width: 100%;
    }

    #perigo {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 35px;
    }

}