@media (max-width: 768px) {

    body, html {
        width: 100vw;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    #fundo {
        height: 50vh;
    }

    #fundo h1 {
        font-size: 1.3em;
    }

    header {
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    #logo {
        height: 3vh;
    }

    .dropdown {
        display: none;
    }

    #menu-toggle {
        z-index: 1000;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    #menu-toggle .bar {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
    }

    #menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 50vh;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        padding: 60px 20px;
        gap: 20px;
        transition: right 0.3s ease;
        z-index: 999;
    }

    #menu a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    #menu.ativo {
        right: 0;
    }

    #menu-toggle.ativo .bar:nth-child(1) {
        background-color: black;
        transform: rotate(45deg) translateY(10px);
    }

    #menu-toggle.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle.ativo .bar:nth-child(3) {
        background-color: black;
        transform: rotate(-45deg) translateY(-10px);
    }

    #carrosselTecnologias {
        height: 50vh;
    }

    #carrossel-container {
        background-color: red;
        width: 90vw;
    }

    #section2 {
        height: 20vh;
    }

    #section3 {
        height: 200vh;
    }

    #objetivos {
        grid-template-columns: repeat(1, 1fr);
    }

    #section4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 140vh;
    }

    #secao4 {
        width: 95vw;
        display: block;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    #secao4 img {
        margin: 20px 0px;
        display: none;
    }

    #secao4 p {
        text-align: justify;
        font-size: 1.1em;
    }

    .textos {
        width: 90%;
        margin: 0 auto;
        text-align: center !important;
    }

    #teste1,
    #teste2 {
        background-color: red;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #0000006b;
        width: 80vw;
        height: 20vh;
    }

    #teste1 {
        background-image: url(../assets/imgs/vertical.jpg);
        background-size: cover;
    }

    #teste2 {
        background-image: url(../assets/imgs/crianca.jpg);
        background-size: cover;
    }

    #container {
        height: 60vh;
        width: 85vw;
        flex-wrap: wrap;
    }

    #secao5 {
        height: 120vh;
    }

    #section5 p {
        text-align: justify;
        font-size: 1.1em;
    }

    #section5 h1 {
        font-size: 2.5em;
    }

    #section6 p {
        hyphens: auto;
        text-align: left;
        font-size: 1.1em;
    }

    #section6 {
        height: 190vh;
    }

    #foto1 {
        height: 170vh;
        width: 80vw;
        flex-direction: column;
    }

    .foto2 {
        margin: 20px;
        width: 80%;
    }

    #video {
        width: 100vw;
        height: 20vh;
    }

    #video h1 {
        height: 1vh;
        font-size: 1.4em;
    }

    #section8 {
        height: 80vh;
    }

    #secao8 {
        height: 80%;
    }

    #secao8 h1 {
        font-size: 2em;
    }

    #secao8 h1 {
        font-size: 2em;
    }

    #secao8 p {
        text-align: justify;
        hyphens: auto;
    }

    #btnQuiz {
        width: 80vw;
    }

    footer {
        width: 100vw;
    }

    #rodape p {
        font-size: 0.6em;
    }
}